* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#principal {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.inputs {
    text-align: left;
}
